*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-wrap: normal;
    /* outline: 1px solid red; */
}

#header{
    display: flex;
    background: linear-gradient(0deg, white 0%, #92f8bb 100%);
    margin-bottom: 20px;
    height: 120px;
}

#logo{
    width: 150px;
}

.navbar{
    position: absolute;
    left: 30%;

}

.nav-ul{
    display: flex;
    flex-direction: row;

}

.nav-ul li{
    list-style: none;
    margin: 10px;
    padding: 8px;
    
}

.nav-ul li:hover{
    background-color:#92f8bb ;
    border-radius: 20px;
}

.nav-ul a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    
}

.nav-ul a:hover{
    color: white;
}

#dropdown{
    position: absolute;
    right: 2%;
    top: 3%;
    padding: 10px;
}

#dropdown button{
    color: black;
    padding: 14px;
    font-size: 1.1em;
    border: none;
    background: transparent;
}

.drop-content{
    display: none;
    float: down;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0px 4px 12px 0px black;
}

.drop-content a{
    color: black;
    text-decoration: none;
    padding: 6px 8px;
    display: block;
    border: 1px solid black;
}

#dropdown:hover .drop-content{
    display: block;
}

i.fa{ 
    font-family:FontAwesome!important; 
}

/* slideshow */
.mySlides {display: none}

.slide-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.slide-container img{
    max-width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* stock list  */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.form input{
    padding: 8px;
    margin: 10px;
}

.insert{
    border: 2px solid #F2BF6C;
}

.submit{
    background-color: #F2BF6C;
    border-radius: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* footer */
footer{
    display: block;
    margin-top: 50px;
    background-color: #000;
    color: white;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

footer h3{
    color: #F2BF6C;
}

.topSection{
    display: flex;
    margin-bottom: 40px;
}

.icons{
    margin-top: 50px;
    letter-spacing: 10px;
}

.about-us{
    margin-right: 50px;
    width: 60%;
}

.bottomSection{
    display: flex;
    justify-content: center;
}

